<table class="striped" id="calc">
  <thead>
    <tr>
      <th>Daily Total</th>
      <th>
        <i class="fa fa-coffee"></i>&nbsp;Current (in bloodstream)</th>
      <th>+6 Hours</th>
      <th>+12 Hours</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td id="daily-total">{{dailyTotal}}mg</td>
      <td id="current-caff">{{currentCaffeine}}mg</td>
      <td id="in-6-hrs">{{sixHourTotal}}mg</td>
      <td id="in-12-hrs">{{twelveHourTotal}}mg</td>
    </tr>
  </tbody>
</table>