<h1>Welcome to {{title}}</h1>
<div class="container">
  <div class="row">
    <div class="col s4">
      <table class="striped" id="bev-count">
        <thead>
          <tr>
            <th class="align-left">
              <i class="fa fa-coffee"></i>&nbsp;mg</th>
            <th class="align-left">Time Consumed</th>

          </tr>
        </thead>

        <tbody>

        </tbody>
      </table>
    </div>
    <div class="col s6 offset-s2">
      <app-entry-table [onUpdate]="updater"></app-entry-table>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="right-align">
        <a class="btn btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal1">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="row">
      <form [formGroup]="caffeineEntryForm" class="col s12" id="submission-form" #submissionForm>
        <div class="row">
          <div class="input-field col s2">
            <label for="#mg-caffeine">mg Caffeine</label>
            <input formControlName="dosage" name="dosage" type="number" id="mg-caffeine" placeholder="100">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input #time formControlName="time" type="text" class="timepicker" placeholder="Time you consumed">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="!caffeineEntryForm.valid" class="btn waves-effect waves-light modal-action modal-close" type="submit"
      name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>